.navbar {
    background-color: #282c34;
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    width: 100%;

  }
  
  .navlink {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.2s ease;
  }
  
  .navlink:hover {
    color: #61dafb;
  }
  